<div class="dashboard-container">
  <div class="dashboard-search-container">
    <div
      style="padding: 30px; display: flex; gap: 10px; align-items: center"
      *ngIf="!albumsRetrieved"
    >
      <app-search-bar
        (searchValue)="onSearchValue($event)"
        [searchVal]="searchVal"
        class="search-bar"
      ></app-search-bar>

      <button mat-button class="logout-btn" (click)="logout()">Logout</button>
    </div>

    <div *ngIf="errorMessage" class="empty-state">
      {{ errorMessage }}
    </div>

    <div
      *ngIf="!errorMessage && artists?.length && !albumsRetrieved"
      style="padding: 0px 15px"
    >
      <h3 class="artist-title">ARTISTS</h3>
      <div class="artists-container">
        <div *ngFor="let artist of artists" class="artist">
          <app-artist-card
            [artist]="artist"
            (artistClicked)="onArtistClicked($event)"
          ></app-artist-card>
        </div>
      </div>
    </div>

    <div
      *ngIf="!errorMessage && albums?.length && albumsRetrieved"
      style="padding: 30px 15px"
    >
      <h3 class="album-title">
        <mat-icon class="back-icon" (click)="onBackArrowClick()"
          >keyboard_arrow_left</mat-icon
        >
        {{ artistName }} Albums
      </h3>
      <div class="album-container">
        <div *ngFor="let album of albums" class="album">
          <app-album-card [album]="album"></app-album-card>
        </div>
      </div>
    </div>
  </div>
</div>
